<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>

<body>
    <ul>
        {% for pessoa in pessoas %}
        <li>{{pessoa.id}} - {{pessoa.nome}} 
            <a href="{% url 'editar' pessoa.id %}">Editar</a>
            <a href="{% url 'delete' pessoa.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>

<form action="{% url 'salvar' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="nome" id=""/>
    <button type="submit">save</button>
</form>

</body>

</html>